/* input::-webkit-input-placeholder {
  color: #d9b8a5;
} */
input {
  width: 610px;
  height: 50px;
  margin-bottom: 10px;
  padding-left: 20px;
  background: black;
  border: 2px solid #482f21;
  color: white;
}
.festForm {
  display: flex;
  justify-content: space-between;
}

.festFormTitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: white;
  margin-bottom: 30px;
  margin-left: 40px;
}

/* .festInput {
  width: 610px;
  height: 50px;
  margin-bottom: 16px;
  padding-left: 20px;
  background: black;
  border: 2px solid #482f21;
  color: white;
} */

.festFormContainer {
  margin-left: 40px;
}
