.background {
  background-color: black;
  padding-bottom: 14px;
  padding-top: 14px;
  min-height: 89vh;
}
.text {
  color: white;
}
.extraText {
  width: 607px;
  height: 50px;
  left: 40px;
  top: 171px;
  color: #d9b8a5;
}
.header {
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 6px;
}

.buttonLeft {
  width: 100px;
  height: 40px;
  border: 1px solid #d9b8a5;
  box-sizing: border-box;
  border-radius: 20px 0px 0px 20px;
  background-color: black;
  color: white;
}
.buttonRight {
  width: 100px;
  height: 40px;
  border: 1px solid #d9b8a5;
  box-sizing: border-box;
  border-radius: 0px 20px 20px 0px;
  background-color: black;
  color: white;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
}
