.homeContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 147px;
}

.title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: #ffffff;
}

.text {
  font-weight: 400;
  font-size: 18px;
  color: #d9b8a5;
  line-height: 28px;
}

.leftContainer {
  margin-top: 179px;
  margin-left: 155px;
}

.btnList {
  width: 240px;
  height: 58px;
  padding: 17px 30px;
  border: 2px solid #482f21;
  background: #030102;
  color: #d9b8a5;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.imgContainer {
  margin-top: 27px;
  margin-right: 39px;
}

.actualFestival {
  margin-bottom: 40px;
}

.actualFestivalImg {
  margin-left: 40px;
  margin-bottom: 96px;
}

.actualFestivalContainer {
  display: flex;
  justify-content: space-between;
  gap: 57px;
}

.actualFestivalTitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  padding-left: 39px;
  margin-bottom: 37px;
}

.actualFestivalText {
  font-weight: 400;
  font-size: 18px;
  line-height: 155%;
  color: #ffffff;
  padding-left: 39px;
}

.actualFestivalTextIt {
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 155%;
  color: #d9b8a5;
  padding-left: 39px;
  margin-bottom: 233px;
}
.btnActualFestival {
  width: 240px;
  height: 58px;
  padding: 15px 30px;
  border: 2px solid #d9b8a5;
  background: #030102;
  color: #d9b8a5;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.newsTitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 26px;
  margin: 40px 40px;
}

.cardsContainer {
  margin: 40px 40px;
}

.actualFestivalWrapper {
  display: flex;
  flex-direction: column;
}

.actualFestivalLink {
  align-self: flex-end;
  margin-right: 40px;
}
