.currentRestInfo {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 50px;
}

.currentRestTitle {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
}

.currentRestText {
  font-weight: 500;
  font-size: 18px;
  line-height: 155.02%;
  color: #d9b8a5;
  padding-top: 9px;
  padding-right: 700px;
}

.currentRestPrice {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: white;
  padding-top: 9px;
}

.commentsContainer {
  margin-top: 40px;
  margin-left: 40px;
}

.userNameField {

}

.icon {
  height: 60px;
  width: 60px;
  margin-top: 40px;
}

.textField {
  margin-top: 40px;
  /* color: white; */
  -webkit-box-shadow: 0 0 0 50px rgb(0, 0, 0) inset; /* Change the color to your own background color */
  -webkit-text-fill-color: #d9b8a5;
}

input::-webkit-input-placeholder {
  color: #d9b8a5;
}

.imgContainer {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 80px;
  justify-content: center;
  display: flex;
}

.mainImg {
  width: 100%;
}

.testimg {
  width: 100%;
  height: 234px;
}

.cardContentTitle {
  background: black;
  color: white;
}

.test {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
}

.contentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.restTitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 155.02%;
  color: #ffffff;
  margin-left: 40px;
  margin-top: 30px;
}

.restContainer {
  display: flex;
  justify-content: row;
}

.mapTitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 155.02%;
  color: #ffffff;
  padding-left: 45px;
}

.commentStatus {
  color: #d9b8a5;
}

.input1 {
  color: white !important;
}

.commentForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.commentButton {
  margin-top: 40px;
  border-color: white;
}

.whiteColor {
  color: white;
}

.commentInputForm {
  display: flex;
  flex-direction: column;
  margin: 1%;
  padding: 1%;
}

.nameInput {
  border-radius: 10px;
  width: 500px;
  background-color: rgb(4, 4, 4);
}

.textInput {
  border-radius: 10px;
  width: 500px;
  height: 200px;
  background-color: rgb(4, 4, 4);
  border-color: #d9b8a5;
  color: #d9b8a5;
  
}

.buttonInput {
  margin-top: 15px;
  border-radius: 10px;
  width: 500px;
  background-color: rgb(4, 4, 4);
  color: #d9b8a5;
}

textarea::placeholder {color: #d9b8a5;}
