.currentRestInfo {
  display: flex;
  justify-content: space-between;
  margin-left: 58px;
  margin-right: 40px;
  margin-top: 50px;
}

.currentRestTitle {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
}

.currentRestPrice {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: white;
  padding-top: 9px;
}

.commentsContainer {
  margin-top: 40px;
  margin-left: 40px;
}

.icon {
  height: 60px;
  width: 60px;
  margin-top: 40px;
}

.textField {
  margin-top: 40px;
  -webkit-box-shadow: 0 0 0 50px rgb(0, 0, 0) inset; /* Change the color to your own background color */
  -webkit-text-fill-color: #d9b8a5;
}

input::-webkit-input-placeholder {
  color: #d9b8a5;
}

.imgContainer {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  justify-content: center;
  display: flex;
  height: 331px;
  padding-left: 20px;
  padding-right: 20px;
}

.mainImg {
  width: 100%;
  object-fit: cover;
}
.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.setContainer {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  margin-bottom: 60px;
  margin-top: 60px;
  margin-left: 60px;
  margin-right: 60px;
}

.cardContentTitle {
  background: black;
  color: white;
  padding: 0px;
}
.test {
  /* width: 30%; */
  background-color: black !important;
}

.restTitle {
  color: #ffffff;
}

.RestMapContainer {
  display: flex;
  gap: 20px;
  margin-left: 60px;
}

.mapTitle {
  font-weight: 500;
  color: #ffffff;
}

.mapSize {
  width: 600px;
  height: 260px;
}

.restContainer {
  width: 40vw;
  padding-top: 10px;
}

.containerWidth {
  width: 53.5%;
}

.restaurantTitle {
  font-size: 100%;
}

.restaurantAdres {
  font-size: 70%;
}

.restaurantWork {
  font-size: 60%;
  padding-top: 10px;
}

.restaurantDesk {
  font-size: 60%;
  padding-top: 10px;
}

.test {
  background-color: black;
}

.commentStatus {
  color: #d9b8a5;
}

.input1 {
  color: white !important;
}

.commentForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.commentButton {
  margin-top: 40px;
  border-color: white;
}

.whiteColor {
  color: white;
  padding-left: 28px;
}

.commentInputForm {
  display: flex;
  flex-direction: column;
  margin: 1%;
  padding: 1%;
}

.nameInput {
  width: 500px;
  background-color: rgb(4, 4, 4);
}

.textInput {
  width: 500px;
  height: 200px;
  background-color: rgb(4, 4, 4);
  color: white;
  padding-right: 10px;
  border: 2px solid #482f21;
}

.buttonInput {
  margin-top: 15px;
  width: 500px;
  background-color: rgb(4, 4, 4);
  color: #d9b8a5;
}

textarea::placeholder {
  color: #d9b8a5;
}
