.currentRestInfo {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 50px;
}

.currentRestTitle {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
}

.currentRestPrice {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: white;
  padding-top: 9px;
}

.imgContainer {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  justify-content: center;
  display: flex;
  height: 331px;
  padding-left: 20px;
  padding-right: 20px;
}

.mainImg {
  width: 100%;
  object-fit: cover;
}
.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.setContainer {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  margin-bottom: 60px;
  margin-top: 60px;
  margin-left: 60px;
  margin-right: 60px;
}

.cardContentTitle {
  background: black;
  color: white;
  padding: 0px;
}
.test {
  /* width: 30%; */
  background-color: black !important;
}

.restTitle {
  color: #ffffff;
}

.RestMapContainer {
  display: flex;
  /* justify-content: space-between; */
  gap: 20px;
  margin-left: 60px;
}

.mapTitle {
  font-weight: 500;
  color: #ffffff;
}

.mapSize {
  width: 600px;
  height: 260px;
}

.restContainer {
  width: 40vw;
  padding-top: 10px;
}

.containerWidth {
  width: 53.5%;
}

.restaurantTitle {
  font-size: 100%;
}

.restaurantAdres {
  font-size: 70%;
}

.restaurantWork {
  font-size: 60%;
  padding-top: 10px;
}

.restaurantDesk {
  font-size: 60%;
  padding-top: 10px;
}

.test {
  background-color: black;
}
