.header {
  margin-top: 20px;
}

.text {
  color: white;
}

.extraText {
  width: 607px;
  height: 50px;
  left: 40px;
  top: 171px;
  color: #d9b8a5;
}

.header {
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttonLeft {
  margin-top: 25px;
  width: 100px;
  height: 40px;
  border: 1px solid #d9b8a5;
  box-sizing: border-box;
  border-radius: 20px 0px 0px 20px;
  background-color: black;
  color: white;
}
.buttonRight {
  width: 100px;
  height: 40px;
  border: 1px solid #d9b8a5;
  box-sizing: border-box;
  border-radius: 0px 20px 20px 0px;
  background-color: black;
  color: white;
}

.map {
  width: 90%;
  height: 80vh;
  margin-left: 5%;
  margin-top: 10px;
  margin-bottom: 50px;
  color: black;
}

.buttons {
  padding-right: 9px;
  margin-top: 7px;
}
