.footer {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 2px solid #482f21;
  padding-top: 14px;
  color: white;
  margin: 40px 40px;
  flex-grow: 0;
}
