.footer {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 2px solid #482f21;
  padding-top: 14px;
  color: white;
  flex-grow: 0;
  margin-left: 40px;
  margin-right: 40px;
  height: 179px;
}
