/* .imgContainer {
  width: 405px;
  height: 234px;
}

.imgContainer > img {
  width: inherit;
}
.background {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 5px;
}
.cardText {
  color: white;
}

.cardsContainer {
  display: flex;
} */

.testimg {
  width: 100%;
  height: 234px;
}

.cardContentTitle {
  background: black;
  color: white;
}

.test {
  width: 27%;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  background-color: black !important;
}
