/* #login {
  display: flex;
}

input[type=text],
input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
} */

.adminLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adminTitle {
  margin-top: 190px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #d9b8a5;
}

.adminInput {
  width: 400px;
  height: 57px;
  margin-bottom: 16px;
  padding-left: 20px;
  background: black;
  border: 2px solid #482f21;
  color: white;
}

.adminBtn {
  margin-top: 16px;
  width: 188px;
  height: 49px;
  padding: 10px 47px;
  border: 2px solid #482f21;
  background: black;
  color: #d9b8a5;
  margin-left: 110px;
  margin-bottom: 60px;
}

input::-webkit-input-placeholder {
  color: #d9b8a5;
}
