.Formapp {
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 40px;
  margin-right: 40px;
  min-height: 75vh;
}
.manager {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  border: 2px solid #482f21;
  margin: 1%;
  padding: 1%;
  min-width: 40vh;
}
.formBtnExit {
  margin-top: 10px;
  margin-bottom: 10px;
  position: absolute;
  width: 250px;
  height: 49px;
  margin-left: 40%;
  padding: 10px 47px;
  border: 2px solid #482f21;
  background: black;
  color: #d9b8a5;
}
