.navContainer {
  margin-top: 19px;
  margin-left: 40px;
  margin-right: 40px;
  border-bottom: 2px solid #482f21;
  height: 77px;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;
  color: white;
}
.logo:hover {
  color: white;
}

.logoPos {
  padding-top: 24px;
}

.navButtonPos {
  padding-top: 19px;
}

.navButton {
  width: 143px;
  height: 40px;
  border: 2px solid #482f21;
  background: black;
  color: white;
}

.leftContainer {
  display: flex;
  gap: 33px;
}

.navCalendar {
  background: black;
  border: 0;
}

.navCalendarPos {
  padding-top: 23px;
}

.navMenu {
  background: black;
  border: 0;
}

.navMenuPos {
  padding-top: 21px;
}

/* nav {
  height: 50px;
  width: 100%;
  display: flex;
  align-items:center;
} */

.burgerBtn {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.burgerBtn:before {
  content: '';
  position: absolute;
  top: 29px;
  width: 20px;
  background-color: white;
  height: 2px;
}

.burgerBtn span {
  position: absolute;
  top: 39px;
  width: 20px;
  background-color: white;
  height: 2px;
}

.burgerBtn:after {
  content: '';
  position: absolute;
  bottom: -21px;
  width: 20px;
  background-color: white;
  height: 2px;
}
